@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Slabo+27px&display=swap');

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

.navegacao {
    text-decoration: none;
    color: rgb(0, 150, 150);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 20px;
    border: 2px solid rgb(0, 150, 150);
    border-radius: 25px;
    display: inline-block;
    transition: all 0.5s ease;
}

 .navegacao:hover {
    background-color:rgb(0, 150, 150);
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    gap: 30px;
    background-color: rgb(60, 61, 61);
     width: 220px;
     border-radius: 25px;
     margin: 0 auto 30px;
}

.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
body {
    font-family: Bentham, Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 15px;
    color: #921996;
}

.flex-container {
    width: 90%;
    height: 200px;
    background-color: rgb(192, 130, 182);
    align-items: center;
    border-left: 60px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: flex-start;
 
}

.flex-item {
    width: 80px;
    height: 80px;
    background-color: rgb(235, 211, 231);
    border: 2px solid rgb(161, 82, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 10px;
}

.justify-center {
    justify-content: center;
}

.justify-end{
    justify-content: end;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}